body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: gray;
  color: black;
  }

  nav {
    font-size: 16px;
    font-weight: 500;
    border: 5px;
    padding: 0px;
    margin: 0px;
    background-color: black;
    height: 50px;
    width: 40%;
    margin: 0 auto;
  }

  nav ul {
    height: 50px;
    width: 750px;
    margin: 0 auto;
  }

  nav ul li {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    list-style-type: none;
    width: 140px; 
    border-right: 5px solid #ccc;
    text-align: center;
  }

  nav li:last-child {
    border-right: none;
  }

  li a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
  }

  a {
    background-color: black;
    color: white;
    padding: 0em 1em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    background-color: #555;
  }
  
  a:active {
    background-color: black;
  }

  a:hover {
    cursor: pointer;
  }
 
  p {
    font-size: 17px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 12px;
    text-align: center;
  } 

  .image-container{
    width:250px;
    height: 300px;
    text-align: center;
    line-height: 300px;
  }

  .progress-bar {
    position: relative;
    width: 500px;
    height: 3em;
    background-color: black;
    border-radius: 1.5em;
    color: white;
  }

  .progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    bottom: .5em;
    top: .5em;
    width: 78%;
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: #555;
    border-radius: 1em;
    padding: 1em;
  }

  h1 {
    padding: 10px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-width: 5px; 
  }

  h2 {
    padding: 10px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-width: 5px; 
  }

  h3 {
    font-weight: 500px;
    font-size: 20px;
    padding: 0px;
    text-align: left;
    text-indent: 30px;
  }

  img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 50%;
    text-align: center;
    height: 300px;
    width: 300px;
    top: 40%;
    left: 40%;
  }

  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }

  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 25%;
    width: 50%;
    height: 80%;
  }

  .comment-container {
    width: 500px;
    text-align: right;
  }

  .box-container {
    height: 200px;
    width: 100%;
    background: black;
    box-shadow: 0 5px 15px #111;
    border-radius: 5px;
    padding: 15px;
    display: none;
  }

  .box-container .box {
    height: 80%;
    width: 95%;
    border-radius: 5px;
    padding: 10px;
    background: white;
    overflow-y: auto;
    text-align: left;
  }

  #input{
    width: 100%;
    height: 40px;
    background: white;
    font-size: 15px;
    color: black;
    border-bottom: 1px solid black;
  }

  #input:focus {
    border-bottom: 1px solid black;
  }

  button{
    height: 30px;
    width: 160px;
    background: black;
    color:white;
    cursor: pointer;
    margin: 10px 0;
    font-size: 15px;
    box-shadow: 0 3px 10px #111;
    border-radius: 5px;
  }

  button:hover{
    opacity: .8;
  }